@font-face {
  font-family: "myIranYekan";
  font-weight: normal;
  src: url("../font/iranyekan/eot/iranyekanwebregular.eot"),
    url("../fonts/iranyekan/ttf/iranyekanwebregular.ttf") format("truetype"),
    url("../fonts/iranyekan/woff/iranyekanwebregular.woff") format("woff"),
    url("../fonts/iranyekan/svg/iranyekanwebregular.svg") format("svg");
}
@font-face {
  font-family: "myIranYekan";
  font-weight: bold;
  src: url("../font/iranyekan/eot/iranyekanwebbold.eot"),
    url("../fonts/iranyekan/ttf/iranyekanwebbold.ttf") format("truetype"),
    url("../fonts/iranyekan/woff/iranyekanwebbold.woff") format("woff"),
    url("../fonts/iranyekan/svg/iranyekanwebbold.svg") format("svg");
}
@font-face {
  font-family: "pinar";
  font-weight: normal;
  src: url("../fonts/pinar/ttf/Pinar-Regular.ttf") format("truetype"),
    url("../fonts/pinar/ttf/Pinar-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "pinar";
  font-weight: bold;
  src: url("../fonts/pinar/ttf/Pinar-Bold.ttf") format("truetype"),
    url("../fonts/pinar/ttf/Pinar-Bold.woff2") format("woff2");
}
@keyframes header-animated {
  0% {
    background-size: 1920px;
  }
  50% {
    background-size: 2200px;
  }
  100% {
    background-size: 1920px;
  }
}
:root {
  --hover-color: #cb79e1;
  --main-color: rgb(92, 71, 133);
}

/* ******************************************* */

* {
  box-sizing: border-box;
}
html,
body {
  direction: rtl;
  font-family: myIranYekan, "B Yekan", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* section one , main section */

section#main-section {
  border: 1px solid black;
  min-height: 700px;
  background-image: url(../images/main_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation-direction: alternate;
  animation: header-animated 12s linear infinite;
}
.container {
  width: 80%;
  margin: 0 auto;
}
#main-header {
  display: flex;
  justify-content: space-between;
}
#logo {
  display: inline-block;
  margin-top: 10px;
}
#logo > img {
  height: 80px;
}
#top-navigation {
  display: flex;
  align-items: center;
}
#top-navigation > ul > li {
  display: inline-block;
  margin: 0 30px;
}
#top-navigation > ul > li > a:link,
#top-navigation > ul > li > a:visited {
  color: white;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.3s;
}
#top-navigation > ul > li {
  text-align: center;
}
#top-navigation > ul > li > a::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background-color: var(--hover-color);
  margin-top: 5px;
  transition: all 0.3s;
}
#top-navigation > ul > li > a:hover {
  color: var(--main-color);
}
#top-navigation > ul > li > a:hover::after {
  width: 100%;
}
a#menu:link,
a#menu:visited {
  color: white;
  font-size: 22px;
  margin-right: 15px;
}
#two-coulmn {
  margin-top: 150px;
}
#first-col,
#second-col {
  color: white;
  text-align: center;
}
#first-col p:first-child {
  font-size: 30px;
  font-weight: 700;
}
#first-col p:last-child {
  color: gray;
  font-weight: bold;
}
#first-col > h1 {
  font-family: pinar, sans-serif;
  font-size: 50px;
}
.purpel-color {
  color: var(--main-color);
}
form#search-form {
  min-height: 50px;
  width: 50%;
  margin: 50px auto;
  padding: 4.5px;
  background-color: rgba(100, 100, 111, 0.2);
  border-radius: 10px;
  transition: all 0.3s;
}
.user-search {
  width: calc(100% - 110px);
  border: 0;
  font-size: 17px;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px;
  outline: none;
  color: white;
}
::placeholder {
  padding-right: 10px;
  font-size: 20px;
  color: rgb(150, 150, 150);
}
.purpel-btn:link,
.purpel-btn:visited,
.purpel-btn {
  background-color: var(--main-color);
  color: white;
  font-size: 17px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  transition: all 0.3s;
}
.purpel-btn:hover {
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

/* section two , services section */

section#services {
  /* border: 1px solid black; */
  /* min-height: 400px; */
  padding: 60px 0;
  /* margin-bottom: 200px; */
}
h1.section-title {
  font-family: pinar, sans-serif;
  text-align: center;
}
h1.section-title::before,
h1.section-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  background-color: var(--main-color);
}
h1.section-title::before {
  transform: translate(0px, 60px);
  width: 50px;
  height: 3px;
}
h1.section-title::after {
  transform: translate(0px, 10px);
  width: 100px;
  height: 3px;
}
p.section-sub-title {
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: large;
  padding: 25px 0;
}
#service-wrapper {
  min-height: 200px;
  display: flex;
  column-gap: 30px;
}
.service {
  flex: 1;
  min-height: 300px;
  border-radius: 15px 15px 45px 15px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s;
}
.service:hover {
  background-color: var(--main-color);
}
.service > h3 {
  transition: all 0.3s;
  text-align: center;
  transition: all 0.3s;
}
.service > p {
  text-align: center;
  line-height: 2;
  font-size: 14px;
  transition: all 0.3s;
  color: gray;
}
.service:hover > h3,
.service:hover > p {
  color: white;
}
.icon-holder {
  background-color: rgba(128, 128, 128, 0.316);
  border-radius: 5px 25px 50px 20px;
  width: 80px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin: 0 auto;
}
.service:hover > .icon-holder {
  transform: rotateY(180deg);
  background-color: white;
}
.icon-holder > i {
  font-size: 35px;
  text-align: center;
  color: var(--main-color);
  transition: all 0.3s;
}
.details {
  text-align: center;
  color: var(--hover-color);
  font-size: 18px;
  margin-top: 35px;
}
.details > p {
  display: inline;
}
.service:hover > .details > p {
  color: white;
}
.service:hover > .details > i {
  color: white;
}

/* section three , information section */

section#information {
  padding: 60px 0;
  background-image: url(../images/bg3.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  position: relative;
  z-index: 0;
}
#information::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #000;
  opacity: 0.7;
  z-index: -1;
}
#inform-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.inform {
  flex-basis: 20%;
  text-align: center;
}
.inform > i {
  color: var(--main-color);
  font-size: 50px;
}
.inform > h1 {
  font-size: 60px;
  color: white;
  margin: 30px;
}
.inform > p {
  font-size: 20px;
  color: white;
}

/* section Four , comments section */

section#comments {
  padding: 60px 0;
}
#comment-wrapper {
  min-height: 200px;
  display: flex;
  column-gap: 30px;
}
.comment {
  min-height: 100px;
  flex-basis: 50%;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.comment > p {
  line-height: 2;
}
.coulmns {
  display: flex;
  justify-content: space-between;
}
.right-col {
  display: flex;
  align-items: center;
}
.right-col > img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.right-col > img::after {
  content: "aaaaa";
  width: 50px;
  height: 22px;
  display: block;
  color: var(--main-color);
}
.data-holder {
  display: inline-block;
  margin-right: 10px;
}
.data-holder > h3 {
  font-size: 21px;
  margin: 0;
}
.data-holder > p {
  font-size: 13px;
  color: gray;
}
.star-holder {
  width: 150px;
}
.star-holder > i {
  color: rgb(255, 183, 0);
}
.left-col {
  display: flex;
  align-items: center;
}
.left-col > img {
  height: 100px;
}
.slid-bar {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 30px;
}
.slid-bar > i::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

/* section Five , works section */

section#works {
  padding: 60px 0;
  position: relative;
}
.category-holder {
  display: block;
}
ul#category {
  display: inline;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  padding: 5px;
  border-radius: 20px;
  border: 2px solid var(--hover-color);
}
ul#category > li {
  display: inline-block;
  margin: 0 10px;
  padding: 13px;
  border-radius: 20px;
  color: var(--hover-color);
  transition: all 0.3s;
}
ul#category > li:hover {
  color: white;
  background-color: var(--hover-color);
  cursor: pointer;
}
#works-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.work {
  flex-basis: 25%;
  position: relative;
  top: 100px;
  overflow: hidden;
  cursor: pointer;
}
.work::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #ca79e191;
  position: absolute;
  top: 0;
  right: -100%;
  transition: all 0.3s;
  z-index: 0;
}
.work:hover::after {
  right: 0;
}
.work > img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s;
  transform: scale(1.15) translateX(0px);
}
.work:hover > img {
  transform: scale(1.12) translateX(20px);
}
.work > h3 {
  display: inline-block;
  color: rgb(38, 38, 38);
  font-size: 25px;
  font-family: pinar , sans-serif;
  padding: 0px 20px;
  margin: 0;
  position: absolute;
  bottom: 25px;
  right: 0;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
  user-select: none;
}
.work:hover > h3 {
  opacity: 1;
}
.txt-work {
  /* border-right: 3px solid white ; */
  position: absolute;
  top: 50px;
  /* left: 10px; */
  left: 0;
  display: inline-block;
  padding: 0 10px;
  line-height: 10px;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
}
.txt-work > p {
  width: 200px;
  display: block;
  color: white;
  font-size: 18px;
  padding: 0;
  /* list-style: 5px; */
  user-select: none;
}
.txt-work::after {
  content: "";
  width: 90px;
  height: 3px;
  display: inline-block;
  background-color: white;
  rotate: 90deg;
  position: absolute;
  right: -50px;
  top: 50px;
}
.work:hover > .txt-work{
  left: 10px;
  opacity: 1;
}
