@font-face {
  font-family: "myIranYekan";
  font-weight: normal;
  src: url("../font/iranyekan/eot/iranyekanwebregular.eot"),
    url("../fonts/iranyekan/ttf/iranyekanwebregular.ttf") format("truetype"),
    url("../fonts/iranyekan/woff/iranyekanwebregular.woff") format("woff"),
    url("../fonts/iranyekan/svg/iranyekanwebregular.svg") format("svg");
}

@font-face {
  font-family: "pinar";
  font-weight: normal;
  src: url("../fonts/pinar/Pinar-Regular.ttf") format("truetype"),
    url("../fonts/pinar/Pinar-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "pinar";
  font-weight: bold;
  src: url("../fonts/pinar/Pinar-Bold.ttf") format("truetype"),
    url("../fonts/pinar/Pinar-Bold.woff2") format("woff2");
}
@keyframes header-animated {
  0% {
    background-size: 1920px;
  }
  50% {
    background-size: 2200px;
  }
  100% {
    background-size: 1920px;
  }
}
:root{
  --hover-color : #cb79e1;
  --main-color : rgb(92, 71, 133);
}

/* ******************************************* */

* {
  box-sizing: border-box;
}
html,
body {
  direction: rtl;
  font-family: myIranYekan, "B Yekan", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 /* section one , main section */

 section#main-section{
  border: 1px solid black;
  min-height: 700px;
  background-image: url(../images/main_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation-direction: alternate;
  animation: header-animated 12s linear infinite;
 }
 .container {
  width: 80%;
  margin: 0 auto;
}
#main-header {
  display: flex;
  justify-content: space-between;
}
#logo {
  display: inline-block;
  margin-top: 10px;
}
#logo > img {
  height: 80px;
}
#top-navigation {
  display: flex;
  align-items: center;
}
#top-navigation > ul > li {
  display: inline-block;
  margin: 0 30px;
}
#top-navigation > ul > li > a:link,
#top-navigation > ul > li > a:visited {
  color: white;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.3s;
}
#top-navigation > ul > li{
  text-align: center;
}
#top-navigation > ul > li > a::after{
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background-color: var(--hover-color);
  margin-top: 5px;
  transition: all 0.3s;
}
#top-navigation > ul > li > a:hover {
  color: var(--main-color);
}
#top-navigation > ul > li > a:hover::after{
  width: 100%;
}
a#menu:link,
a#menu:visited {
  color: white;
  font-size: 22px;
  margin-right: 15px;
}
#two-coulmn {
  margin-top: 150px;
  
}
#first-col,
#second-col {
  color: white;
  text-align: center;
}
#first-col p:first-child{
  font-size: 30px;
  font-weight: 700;
}
#first-col p:last-child{
  color: gray;
  font-weight: bold;
}
#first-col > h1{
  font-family: pinar , sans-serif;
  font-size: 50px;
}
.purpel-color{
  color: var(--main-color);
}
form#search-form {
  min-height: 50px;
  width: 50%;
  margin: 50px auto;
  padding: 4.5px;
  background-color: rgba(100, 100, 111, 0.2);
  border-radius: 10px;
  transition: all 0.3s;
}
.user-search {
  width: calc(100% - 110px);
  border: 0;
  font-size: 17px;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px;
  outline: none;
  color: white;
}
::placeholder{
  padding-right: 10px;
  font-size: 20px;
  color: rgb(150, 150, 150);
}
.purpel-btn:link,
.purpel-btn:visited,
.purpel-btn {
  background-color: var(--main-color);
  color: white;
  font-size: 17px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  transition: all 0.3s;
}
.purpel-btn:hover {
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

 /* section two , services section */

 section#services{
  border: 1px solid black;
  min-height: 400px;
  padding: 60px 0;
  margin-bottom: 200px;
 }
 h1.section-title {
  font-family: pinar, sans-serif;
  text-align: center;
}
h1.section-title::before,
h1.section-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  background-color: var(--main-color);
}
h1.section-title::before {
  transform: translate(0px, 60px);
  width: 50px;
  height: 3px;
}
h1.section-title::after {
  transform: translate(0px, 10px);
  width: 100px;
  height: 3px;
}
p.section-sub-title {
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: large;
  padding: 25px 0;
}
#service-wrapper {
  min-height: 200px;
  display: flex;
  column-gap: 30px;
}
.service {
  flex: 1;
  min-height: 300px;
  border-radius: 15px 15px 45px 15px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.service:hover {
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0;
  border-radius: 0; */
  background-color: var(--main-color);
}
.service > h3 {
  transition: all 0.3s;
  text-align: center;
}
.service > p {
  text-align: center;
  line-height: 2;
  font-size: 14px;
  transition: all 0.3s;
  color: gray;
}
.service:hover > h3,
.service:hover > p {
  color: white;
}
.icon-holder {
  background-color: rgba(128, 128, 128, 0.316);
  border-radius: 5px 25px 50px 20px;
  width: 80px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin: 0 auto;
}
.icon-holder > i {
  font-size: 35px;
  text-align: center;
  color: var(--main-color);
  transition: all 0.3s;
}
.details{
  text-align: center;
  color: var(--hover-color);
  font-size: 18px;
  margin-top: 35px;
}
.details > p{
  display: inline;
}